<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StoragePath" value="./data/" />
        <add key="NumberOfDays" value="7" />
        
        <add key="DefaultHashedAdminPassword" value="123" />
        <add key="DefaultLessonDuration" value="40" />
        <add key="DefaultBreakDuration" value="10" />
        <add key="DefaultLongBreakDuration" value="15" />
        <add key="DefaultStartTime" value="480" />
        <add key="DefaultLessonsNumber" value="4" />
    </appSettings>
</configuration>